
    <div class="container">
        <div id="home-jumbo" class="jumbotron text-center d-flex align-items-center">
            <div>    
                <div>
                    <h1 class="display-4 mt-100">Alpha Blog</h1>
                </div>
                <div>
                    <p class="lead">This is a blog</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg"%>

                </div>
            </div>
        </div>
    </div>


