<footer id="sticky-footer fixed-bottom" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Alpha Blog", root_path %> 2020</small>
    </div>
  </footer>