<div class="container">
<% flash.each do |name, msg| %>
    <div class='text-center alert alert-<%= name %> alert-dismissible fade show' role="alert">

    <h3><%= msg %></h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <% end %>
  </div>